body {
  width: 100%;
  height: 10%;
  *zoom: 1; 
    font-family: 'Gotham-Rnd';
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
       margin-top: 80px;
  }
body:before, body:after {
    content: "";
    display: table; }
body:after {
    clear: both;}

html { height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

  @font-face
{
font-family: Gotham-Rnd;
src: url(../fonts/GothamRnd-Light.otf);
}

/*@include column(x); */
wrapper {
  display: inline;
  float: left;
  width: 97.59615%;
  margin: 0 1.20192%;
  height: 100%; 
font-family: Gotham-Rnd;}


body {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#indicator{
     top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: fixed;
    pointer-events: none;
    border-top-color: #3fc062;
    border-width: 15px;
    left: 0;
    margin: 2px 0 0 300px;
    z-index: 99;
}


#two {
  -moz-animation-delay: .2s;
}
#three {
  -moz-animation-delay: .3s;
}
#four {
  -moz-animation-delay: .4s;
}
#five {
  -moz-animation-delay: .5s;
}
#six {
  -moz-animation-delay: .6s;
}
#seven {
  -moz-animation-delay: .7s;
}
#eight {
  -moz-animation-delay: .8s;
}


