body {
  width: 100%;
  height: 10%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both;}

html {
  height: 100%; 
  color:black; }

  @font-face
{
font-family: Gotham-Rnd;
src: url(../fonts/GothamRnd-Light.otf);
}

/*@include column(x); */
wrapper {
  display: inline;
  float: left;
  width: 97.59615%;
  margin: 0 1.20192%;
  height: 100%; 
font-family: Gotham-Rnd;}


header {
  background-color:#3fc062;
  height:60px;
  float:left;
  left:0;
  position:fixed;
  width: 100%;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;
}
 
.header{
  -webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
  width:100%;
  height:10px;
  margin-top:10px;
  float:left;
  position:fixed;
  display: inline-block;
  color:white;
}

.header img{
  float:left;
}
.header li {
  margin-top:13px;
  margin-left: 70px;
  display: inline-block;
}

.header a{
  text-decoration: none;
  color: #3fc062;
  }

body {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
