body {
  width: 100%;
  height: 10%;
  *zoom: 1; 
    font-family: 'Gotham-Rnd';
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
       margin-top: 80px;
  }
body:before, body:after {
    content: "";
    display: table; }
body:after {
    clear: both;}

html { height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

  @font-face
{
font-family: Gotham-Rnd;
src: url(../fonts/GothamRnd-Light.otf);
}

/*@include column(x); */
wrapper {
  display: inline;
  float: left;
  width: 97.59615%;
  margin: 0 1.20192%;
  height: 100%; 
font-family: Gotham-Rnd;}


header {
  background-color:#3fc062;
  height:60px;
  float:left;
  left:0;
  position:fixed;
  width: 100%;
}


.header{
  -webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.3s;
  width:100%;
  height:10px;
  margin-top:10px;
  float:left;
  position:fixed;
  display: inline-block;
  color:white;
}

.header img{
  float:left;
}
.header li {
  margin-top:13px;
  margin-left: 70px;
  display: inline-block;
}

.header a{
  text-decoration: none;
  color: #3fc062;
  }

body {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#two {
  -moz-animation-delay: .2s;
}
#three {
  -moz-animation-delay: .3s;
}
#four {
  -moz-animation-delay: .4s;
}
#five {
  -moz-animation-delay: .5s;
}
#six {
  -moz-animation-delay: .6s;
}
#seven {
  -moz-animation-delay: .7s;
}
#eight {
  -moz-animation-delay: .8s;
}

.more {
  display:none;
}

